* {
    box-sizing: border-box;
}

h1 {
    color: darkgreen;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
    color: white;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
    background-color: lightgreen;
    font: white;
}

img {
    max-height: 200px;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: repeat(2, 250px);
    column-gap: 50px;
}

.food-list-item-one {
    grid-column-start: auto;
    grid-column-end: auto;
}

.food-list-item-two {
    grid-column-start: auto;
    grid-column-end: auto;
}

.for-list-item-three {
    grid-column-start: auto;
    grid-column-end: auto;
}

.for-list-item-four {
    grid-column-start: auto;
    grid-column-end: auto;
}

.for-list-item-five {
    grid-column-start: 5;
    grid-column-end: 6;
}

a:link {
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: lightgray;
}